<header>
    <mat-toolbar>
        <div>
            <img src="assets/imagens/Logos-02.png" alt="Logo da aplicação adopet">
    
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>home</mat-icon>
            </button>
    
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>email</mat-icon>
            </button>
        </div>
        
        <div class="example-button-container">
            <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
              <mat-icon>account_circle</mat-icon>
            </button>
          </div>
          
      </mat-toolbar>
</header>


